version: '3.4'

services:
  ra_pha:
    image: ra_pha_prod
    build:
      target: production
    environment:
      NODE_ENV: production
    command: ["npm", "start"]
    restart: always
    env_file: .env.production

